version: '3.8'

services:
  db:
    image: postgres:16-alpine
    container_name: pergamo_db
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: pergamo
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
